@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="nav-link font-monospace" asp-area="Admin" asp-controller="Users" asp-action="Index" 
               aria-label="Access Admin Panel"
               aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Users" && ViewContext.RouteData.Values["Area"]?.ToString() == "Admin" ? "page" : null)">
                <span class="text-success">[</span>Admin Panel<span class="text-success">]</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-monospace" asp-area="Admin" asp-controller="Competitions" asp-action="Index" 
               aria-label="Manage Competitions"
               aria-current="@(ViewContext.RouteData.Values["Controller"]?.ToString() == "Competitions" && ViewContext.RouteData.Values["Area"]?.ToString() == "Admin" ? "page" : null)">
                <span class="text-success">[</span>Competitions<span class="text-success">]</span>
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link font-monospace" asp-area="Identity" asp-page="/Account/Manage/Index" 
           aria-label="Manage Account Settings">
            <span class="text-success">[</span>@User.Identity?.Name<span class="text-success">]</span>
        </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" 
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link font-monospace" 
                    aria-label="Sign out">
                <span class="text-success">&lt;</span>Logout<span class="text-success">&gt;</span>
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link font-monospace" asp-area="Identity" asp-page="/Account/Register" 
           aria-label="Create account">
            <span class="text-success">[</span>Register<span class="text-success">]</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link font-monospace" asp-area="Identity" asp-page="/Account/Login" 
           aria-label="Sign in">
            <span class="text-success">&lt;</span>Login<span class="text-success">&gt;</span>
        </a>
    </li>
}
</ul>
